<div  class="footer" >
    <div class="row-fluid ">
        <div class="span8 offset2">
            <div class="row" >

                <div class="span3" >
                    <div class="sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header footer-item-title">PRODUCTOS</li>
                            <li ><a href="#">Tecnologia</a></li>
                            <li><a href="#">productos escolares</a></li>
                            <li><a href="#">Articulos de oficina</a></li>
                        </ul>
                    </div> 
                </div>

                <div class="span3" >
                    <div class="sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header footer-item-title">PREGUNTAS FRECUENTES</li>
                            <li ><a href="{{  path('preguntas') }}" >Como puedo comprar?</a></li>
                            <li><a href="{{  path('preguntas') }}" >Donde encuentro mas informacion</a></li>
                            <li><a href="{{  path('preguntas') }}" >Para que me sirve el newletter</a></li>
                            <li><a href="{{  path('preguntas') }}" >Pregunta adicional</a></li>
                        </ul>
                    </div> 
                </div>

                <div class="span3" >
                    <div class="sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header footer-item-title">TIENDA</li>
                             <li ><a href="#"></a></li>
                            <li >
                            
                                <select   onchange="window.location='{{  path('tienda') }}'" >
                                    <option>Centro </option>
                                    <option>Kennedy </option>
                                    <option>Alborada </option>
                                    <option>Riocentro Ceibos </option>
                                    <option>Riocentro Sur </option>
                                    <option>Urdesa </option>
                                </select>
                            
                            </li>
                            <li ><a href="#">Conozca el punto de venta mas cercano a su localidad</a></li>
                        </ul>
                    </div> 
                </div>

                <div class="span3" >
                    <div class="sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header footer-item-title">NEWSLETTER</li>
                            <li ><a href="#">Registrate a nuestro newsletter y enterate de las ultimas novedades</a></li>
                
                        </ul>
                    </div> 
                </div>

            </div>
        </div>
    </div>
</div>
