<div class="span12" style="margin-left: 0px;position: relative;margin-top: 20px;border-bottom: 1px solid #AAAAAA;">
    <div style="margin-bottom: 0px;width: 100%;">

        <div class="row-fluid">
             <div class="span3">
                 <img style="width: auto;height: auto; margin-bottom:15px;" src="{{ asset('images/jumbo.png') }}" alt="" />
            </div>

            <div class="span8">
                <div>
                    <h3 style="color: red; font-family: arial;margin-bottom:0px;margin-top:0px;" >CENTRO</h3>
                    <p class="text_pq"><span style="font-weight: bold;color:#000;" >Dirección:</span> Pedro Carbo 1015 y Colón </p>
                    <p class="text_pq" style="font-weight:bold;"><span   style="font-weight: bold;color:#000;" >Telf.:</span> 04-2324444 / 04-2322990 / 04-2511600 </p>
                    <p class="text_pq"><span  style="font-weight: bold;color:#000;" >Atención:</span> Lunes a Viernes: 09H:00 - 19H00 Sábados: 10H d - 16H00</p>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- CENTRO 2 -->
<div class="span12" style="margin-left: 0px;position: relative;margin-top: 20px;border-bottom: 1px solid #AAAAAA;">
    <div style="margin-bottom: 0px;width: 100%;">

        <div class="row-fluid">
             <div class="span3">
                 <img style="width: auto;height: auto; margin-bottom:15px;" src="{{ asset('images/jumbo.png') }}" alt="" />
            </div>

            <div class="span8">
                <div>
                    <h3 style="color: red; font-family: arial;margin-bottom:0px;margin-top:0px;" >KENNEDY</h3>
                    <p class="text_pq"><span style="font-weight: bold;color:#000;" >Dirección:</span> Pedro Carbo 1015 y Colón </p>
                    <p class="text_pq" style="font-weight:bold;"><span   style="font-weight: bold;color:#000;" >Telf.:</span> 04-2280319 </p>
                    <p class="text_pq"><span  style="font-weight: bold;color:#000;" >Atención:</span> Lunes a Viernes: 09H:00 - 19H00 Sábados: 10H d - 16H00</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- CENTRO 3 -->
<div class="span12" style="margin-left: 0px;position: relative;margin-top: 20px;border-bottom: 1px solid #AAAAAA;">
    <div style="margin-bottom: 0px;width: 100%;">

        <div class="row-fluid">
             <div class="span3">
                 <img style="width: auto;height: auto; margin-bottom:15px;" src="{{ asset('images/jumbo.png') }}" alt="" />
            </div>

            <div class="span8">
                <div>
                    <h3 style="color: red; font-family: arial;margin-bottom:0px;margin-top:0px;" >ALBORADA</h3>
                    <p class="text_pq"><span style="font-weight: bold;color:#000;" >Dirección:</span> Av. Rodolfo Baquerizo Nazur y Benjamín Carrión </p>
                    <p class="text_pq" style="font-weight:bold;"><span   style="font-weight: bold;color:#000;" >Telf.:</span> 04-2242073 </p>
                    <p class="text_pq"><span  style="font-weight: bold;color:#000;" >Atención:</span> Lunes a Viernes: 09H:00 - 19H00 Sábados: 10H d - 16H00</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- CENTRO 4 -->
<div class="span12" style="margin-left: 0px;position: relative;margin-top: 20px;border-bottom: 1px solid #AAAAAA;">
    <div style="margin-bottom: 0px;width: 100%;">

        <div class="row-fluid">
             <div class="span3">
                 <img style="width: auto;height: auto; margin-bottom:15px;" src="{{ asset('images/jumbo.png') }}" alt="" />
            </div>

            <div class="span8">
                <div>
                    <h3 style="color: red; font-family: arial;margin-bottom:0px;margin-top:0px;" >RIOCENTRO CEIBOS</h3>
                    <p class="text_pq"><span style="font-weight: bold;color:#000;" >Dirección:</span>C.C. Riocentro Los Ceibos </p>
                    <p class="text_pq" style="font-weight:bold;"><span   style="font-weight: bold;color:#000;" >Telf.:</span> 04-2852780</p>
                    <p class="text_pq"><span  style="font-weight: bold;color:#000;" >Atención:</span> Lunes a Viernes: 09H:00 - 19H00 Sábados: 10H d - 16H00</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- CENTRO 5 -->
<div class="span12" style="margin-left: 0px;position: relative;margin-top: 20px;border-bottom: 1px solid #AAAAAA;">
    <div style="margin-bottom: 0px;width: 100%;">

        <div class="row-fluid">
             <div class="span3">
                 <img style="width: auto;height: auto; margin-bottom:15px;" src="{{ asset('images/jumbo.png') }}" alt="" />
            </div>

            <div class="span8">
                <div>
                    <h3 style="color: red; font-family: arial;margin-bottom:0px;margin-top:0px;" >RIOCENTRO SUR</h3>
                    <p class="text_pq"><span style="font-weight: bold;color:#000;" >Dirección:</span>Guayaquil - Sur </p>
                    <p class="text_pq" style="font-weight:bold;"><span   style="font-weight: bold;color:#000;" >Telf.:</span> 04-2556178</p>
                    <p class="text_pq"><span  style="font-weight: bold;color:#000;" >Atención:</span> Lunes a Viernes: 09H:00 - 19H00 Sábados: 10H d - 16H00</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- CENTRO 6 -->
<div class="span12" style="margin-left: 0px;position: relative;margin-top: 20px;border-bottom: 1px solid #AAAAAA;">
    <div style="margin-bottom: 0px;width: 100%;">

        <div class="row-fluid">
             <div class="span3">
                 <img style="width: auto;height: auto; margin-bottom:15px;" src="{{ asset('images/jumbo.png') }}" alt="" />
            </div>

            <div class="span8">
                <div>
                    <h3 style="color: red; font-family: arial;margin-bottom:0px;margin-top:0px;" >URDESA</h3>
                    <p class="text_pq"><span style="font-weight: bold;color:#000;" >Dirección:</span>Pedro Carbo 1013 y Colón</p>
                    <p class="text_pq" style="font-weight:bold;"><span   style="font-weight: bold;color:#000;" >Telf.:</span> 04-2322990</p>
                    <p class="text_pq"><span  style="font-weight: bold;color:#000;" >Atención:</span> Lunes a Viernes: 09H:00 - 19H00 Sábados: 10H d - 16H00</p>
                </div>
            </div>

        </div>
    </div>
</div>